body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.section {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  align-items: flex-start;
}

.image-container {
  flex: 1;
  max-width: 550%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-container img {
  max-width: 150%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.appointment-card {
  background: #fffefe;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  max-width: 400px;
  height: auto;
  margin-left: 150px;
}

.card-content {
  max-width: 350px;
  margin: 0 auto;
}

.appoin-form {
  display: grid;
  gap: 1rem;
  animation: slideUp 1s ease-out;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #f39c12;
  outline: none;
}

/* Glowing Button */
.glowing-button {
  margin: 20px 0;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  background-color: #333;
}

.glowing-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glowing-button::before {
  content: "";
  background: linear-gradient(45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glowing-button:hover::before {
  opacity: 1;
}

.glowing-button:active:after {
  background: transparent;
}

.glowing-button:active {
  color: #000;
  font-weight: bold;
}