.section {
  text-align: center; 
  padding: 40px 0;
}

.tab-filter {
  display: flex;
  justify-content: center; 
  padding: 0;
  margin: 20px 0;
}

.tab-filter li {
  margin-right: 10px;     
}

.pricing-card {
  width: 200px;  
  height: 300px; 
  padding: 30px; 
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 30px;
  margin: 50px;
}


/* Glowing border effect */
.pricing-card:hover {
  transform: translateY(-10px);
  border: 2px solid rgba(9, 9, 9, 0.8); 
  box-shadow: 0 0 25px rgba(2, 2, 2, 0.8), 
              0 0 50px rgba(0, 255, 255, 0.8),
              0 0 75px rgba(102, 0, 255, 0.8);
}

/* Hover effect */
.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(10, 10, 10, 0.8), 
              0 0 50px rgba(0, 255, 255, 0.8),
              0 0 75px rgba(102, 0, 255, 0.8); 
}
